body{
    font:24px  bold Arial, Helvetica  ;
    }

.container h1 {
    text-shadow: 2px 2px 10px black;
}
form {
    max-width: 750px;
}
label{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: italic;
        }
input,select{
        padding:15px;
    }
table {
  width:80%;
  margin:auto;

    }
table, th, td {
    padding: 10px;
    border: 1px solid #ccc;
    border-collapse: collapse;
  }
.vertical-center {
    margin: 0;
    position: absolute;
    top: 30%;
    transform: translateY(-50%);
  }
.modal-dialog {
    height: 100%;
  }