
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font: normal 17px Arial, Helvetica, sans-serif ;
  min-width: 320px;
  line-height: 1.6em; 
  letter-spacing: .22px;
  box-sizing: border-box;
  overflow-x: hidden;
}

.navbar-nav a {
  text-decoration: none;
  color:black;
}

.navbar-nav .navbar-nav{
  padding-bottom: 10px;
  border-bottom: 1px solid red;
  margin:21px;
}

.project img{
  width: 100%;
  border: 1px black solid;
  box-shadow: 4px 4px gray;
}

 .form_button, a.home_link:hover, .btn:hover{
  background-color:red ;
  color: #f4f4f4 !important ;
}

.project .container {
  border-bottom: 1px solid #f1f1f1;
}

/*home*/
#home_text {
  opacity: 0;
  animation: fadeIn 2s ease 3s forwards;
  z-index: 3;
}

@keyframes fadeIn{
  0% {opacity:0; }
  100% {opacity:1}
}

.home_link{
  border: 1px solid red !important;
  z-index: 2;
}

@media screen and (min-width: 768px) {
  .font34 {
     font-size: 34px;
  }

  .font43 {
    font-size: 43px;
  }
}

#home_banner{
  background-image: url('./cssimages/Mongolia.jpg');
  background-position: bottom; 
  background-repeat: no-repeat; 
  background-size: cover; 
  animation:banner 1.5s ease-in-out 1s forwards;
  position: absolute;
  height:89vh;
  width: 100%;
  top:100vh;
}

@keyframes banner {
    0% { opacity:0; top:100vh;}
    100% { opacity:1; top:88px;  }
  }


#home_animation {
  position:relative;
  margin:50px;
}

#home_animation h1 {
  color:white;
  position:relative;
  letter-spacing:8px;
  margin:180px;
  font-size:60px;
}

#home_nl {
 animation:nl 0.6s linear 0.7s;
 bottom: -80px;
 }

#home_cn {
  animation:cn 0.8s linear 0.7s;
  left: -160px;
 }

#home_en {
  animation:en 1.0s linear 0.7s;
  right: -160px;
 }
 
@keyframes nl {
  0% { bottom:-60px; color: white }
  50% { bottom:0px; color:black }
  100% { bottom:60px; color:white }
}

@keyframes cn {
  0% { left:-120px; color: white }
  50% { left:0px; color:black }
  100% { left:120px; color:white }
}

@keyframes en {
  0% { right:-100px; color: white }
  50% {right:0px; color:black }
  100% { right:100px; color:white }
}

#home_banner::after{
  content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background: rgba(255, 255, 255, 0.4);
}


/*OverMe*/
.overme_faq{
width:50%;
margin:auto;
}


.flip_card {
  background-color: transparent;
  width: 300px;
  height: 225px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; 
}

.flip_inner {
  position: relative;
  text-align: center;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip_front, .flip_back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.flip_back {
  background-color:#ccc;
  transform: rotateY(180deg);
  text-align:center ;
  display: flex;
  flex-direction: column;
	justify-content: center;
	align-items: center;
}

.flip_card:hover .flip_inner {
  transform: rotateY(180deg);
}

.flip_inner h3, .flip_inner h4 {
  text-shadow : 1px 1px 0px white, 
                -1px 1px 0px white,
                1px -1px 0px white,
                -1px -1px 0px white ;
}

/* contact*/
.chart-container{
  position: relative;
  height:400px;
  width:800px;
}

.weer_row {
  width: 800px;
}

div.weer_1st{
 flex-grow: 0.2;
}

.contact_rl{
  writing-mode:vertical-rl;
  text-orientation:use-glyph-orientation;
}

form, form input, textarea {
  width:90%;
  height:auto;
  margin:auto;
}

.contact_info p{
font-size:25px;
margin-bottom: 8px;
}

@media screen and (max-width: 768px) {

 .navbar{
  padding-bottom: 0rem;
}

.span.navbar-toggler{
  height:15px;
  width:15px;
}

button.navbar-toggler{
  margin-right:18px;
}

.navbar-toggler:focus{
  box-shadow: none !important;
}

.navbar .navbar-nav{
    padding-bottom:0px;
    margin:10px;
    font-size:18px;
    border-bottom:none;
    font-weight: 600;
    margin-left: 1.5rem  !important;
  }

 .navbar .navbar-nav a:hover{
    color:red;
  }

 @keyframes banner {
    0% { opacity:0; top:100vh;}
    100% { opacity:1; top:0px;  }
  }

  #home_animation {
    position:relative;
    margin:0px;
  }
  
  #home_animation h1 {
    color:white;
    position:relative;
    letter-spacing:8px;
    margin:0px;
    font-size:30px;
  }

  .font34 {
    font-size: 17px;
  }

  .font43 {
    font-size: 22px;
  }

  #home_content {
    position: relative;
    min-height:89vh;
  }
  
  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2rem;          
  }

  .overme_faq{
    width:100%;
    margin:auto;
    }
  
  .chart-container{
   width: 360px;
   height: 180px;          
  } 

  .weer_row {
    width: 360px;
  }

  div.weer_1st{
    flex-grow: 0.3;
   }

  .contact_info p{
    font-size: 18px;
  }

}