@import url('http://fonts.cdnfonts.com/css/verdana-pro-cond');
* {
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

html, body{
  overflow-x: hidden;
  background-color:#f4f4f4;
}

body {
  font: normal 16px 'Verdana Pro Cond', Arial, Helvetica, sans-serif ;
  min-width: 320px;
  line-height: 1.5; 
  letter-spacing: .22px;
  box-sizing: border-box;
  position: relative;
  overflow-x: hidden;
}

footer{
  background-color:#292929;
  color:white;
  position:absolute;
  bottom:0;
}

#facebookSign{
margin-right:20px;
}

.navbar{
  background-color:rgba(52, 73, 94, 0.7) ;
}

.navbar .navbar-nav a {
  text-decoration: none;
  font-size:18px;
  font-weight:500;
  color:white !important;
  padding:8px 0;
  margin:0px 15px;
  text-transform: uppercase;
  border-bottom: 3px solid transparent;
}

.navbar .navbar-nav a:hover{
  color:red;
  border-bottom: red 3px solid;
}

.project img{
  max-width: 500px;
  height:auto;
  border: 1px black solid;
  box-shadow: 4px 4px gray;
}

#subtitel{
  width:82%;
}
a.home_buttonlink {
  border:1px solid red !important;
  color:black;
  font-size:20px;
  z-index:3;
}
 .form_button:hover, a.home_buttonlink:hover, .btn:hover{
  background-color:red ;
  color: #f4f4f4 !important ;
}

.project .container {
  border-bottom: 1px solid #f1f1f1;
}

/*home*/
#home_text{
  opacity: 0;
  animation: fadeIn 2s ease 1.8s forwards;
  z-index: 3;
}

@keyframes fadeIn{
  0% {opacity:0; }
  100% {opacity:1}
}

a.home_buttonlink{
  opacity: 0;
  animation: fadeInBtn 1s ease 2.5s forwards;
  z-index: 3;
}
@keyframes fadeInBtn{
  0% {opacity:0; }
  100% {opacity:1}
}


 .font34 {
     font-size: 34px;
  }
  .font43 {
    font-size: 43px;
  }

#home_content{
  position:relative;
  width: 100%;
  height:100%;
}

#home_banner{
  background-image: url('./cssimages/Mongolia.jpg'); 
  background-repeat:no-repeat; 
  background-size: cover; 
  background-position: bottom;
  animation:banner 1.5s ease-in-out 1s forwards;
  position:absolute;
  top: 0;
  left: 0; 
  width: 100%;
  min-height:100%; 
}

@keyframes banner {
    0% { opacity:0; }
    100% { opacity:1; }
  }


#home_animation {
  position:relative;
  width: 100%;
  height:100vh;
}


#home_animation h1 {
  color:white;
  position:relative;
  letter-spacing:8px;
  padding:100px;
  font-size:60px;
}

#home_nl {
 animation:nl 1s linear 0.8s;
 }

#home_cn {
  animation:cn 1s linear 0.9s;
 }

#home_en {
  animation:en 1s linear 0.8s;
 }
 
@keyframes nl{
  0%   {left:0px; top:100px; color: white}
  50%  {left:200px; top:0px; color:black}
  100% {left:100px; top:100px; color:white}
}

@keyframes cn {
  0%   {right:0px; top:0px; color: white}
  45%  {right:100px; top:0px; color:black}
  75%  {right:0px; top:100px; color:black}
  100% {right:0px; top:0px; color:white}
}

@keyframes en {
  0%   {left:0px; top:0px; color: white}
  50%  {left:100px; top:0px; color:black}
  100% {left:0px; top:0px; color:white}
}


#home_banner::after{
  content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background: rgba(255, 255, 255, 0.4);
}


/*OverMe*/


.flip_card {
  background-color: transparent;
  width: 300px;
  height: 225px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; 
}

.flip_inner {
  position: relative;
  text-align: center;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip_front, .flip_back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.flip_back {
  background-color:#ccc;
  transform: rotateY(180deg);
  text-align:center ;
  display: flex;
  flex-direction: column;
	justify-content: center;
	align-items: center;
}

.flip_card:hover .flip_inner {
  transform: rotateY(180deg);
}

.flip_inner h3, .flip_inner h4 {
  text-shadow : 1px 1px 0px white, 
                -1px 1px 0px white,
                1px -1px 0px white,
                -1px -1px 0px white ;
}
/*project*/
.project_btn a{
  border-radius:8px ;
}
.project_btn{
  margin-left:auto;
}

/* contact*/
.chart-container{
  position: relative;
  height:400px;
  width:800px;
}

.weer_row {
  width: 800px;
}

div.weer_1st{
 flex-grow: 0.2;
}

.contact_rl{
  writing-mode:vertical-rl;
  letter-spacing:5px;
  font-weight:500;
}

form, form input, textarea {
  width:90%;
  height:auto;
  margin:auto;
}

form div {
font-size:18px;
}

#contactTitel{
font-size:38px;
font-weight:700 ;
}


@media screen and (max-width: 768px) {

.span.navbar-toggler{
  height:15px;
  width:15px;
}

button.navbar-toggler{
  margin-right:18px;
}

.navbar-toggler:focus{
  box-shadow: none !important;
}

.navbar{
  background-color: #ccc !important;
  z-index:10;
}

.navbar .navbar-nav a{
    font-size:15px;
    color:black !important ;
    margin-top:12px;
    margin-left:12px;
    border-bottom:none;
  }

  .navbar .navbar-nav a:hover{
   color:royalblue !important;
   border-bottom:none;
  }
  
  #home_animation h1 {
    font-size:38px;
  }

  .font34 {
    font-size: 21px;
  }

  .font43 {
    font-size: 26px;
  }

  .overme_faq{
    width:100%;
    margin:auto;
    }
  
  .chart-container{
   width: 352px;
   height: 180px;          
  } 

  .weer_row {
    width: 352px;
  }

  div.weer_1st{
    flex-grow: 0.8;
   }

   .collapse_section div, #collapse-text{
     width:80% !important;
     margin:auto!;
   }
   .project img{
   width:300px;
   text-align:center;
   }

   #contactTitel{
     font-size:28px;
   }
}

